{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b3be4fb3da.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static '/css/general.css' %}">
    <title>Spotify Visualizer</title>
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <a href="#">
                <img src="#" alt="1">
            </a>
        </div>
        <ul class="nav-iteams">
            <li><a href="#">Home</a></li>
            <li><a href="#">Play Songs</a></li>
        </ul>
    </nav>
    <p>
        {{name}}
    </p>

</body>

</html>